.linkContainer {
    color: #17a2b8;
}

.button:hover .linkContainer {
    color: white;
}

.linkContainer:hover {
    color: white;
}

.getButton {
    color: white;
}

.getButton:hover {
    color: white;
}